/* copi3ed from w3schoolz */ 



.tooltip {
    position: relative;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
     /* width: 30px; */
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border: 1px solid #b3ebeb; 
    border-radius: 7px ;
    padding: 5px 3px;

    font-size: small;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 160%;
    right: -2%;

  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }