


#w2div4 span {

    display : block ;

    padding-left: 200px;

    margin-top: 13px;

    margin-bottom: 13px  ;


}

#w2div4v2 span {

    display : flex ;

    justify-content: center;

    margin-top: 13px;

    margin-bottom: 13px  ;


}

#heyv1 {

    margin-left : 95px  ;
}