

#tochoose2 {

    display:   initial;

}


form input[type="text"] {

    margin-bottom: 27px;

    width: 170px;


}

form input[type="submit"] {

    margin-top: 27px;

    width: 170px;


}

form input[type="radio"] {

    margin-left: 27px ;
}

label {

    margin-right: 27px ;
}

#info {

    width: 500px;
    height: 100px;

    resize: none
}

textarea {

    margin-bottom: 27px;
}